/* 设置全局字体 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    background-image: url('../img/time_background.png'); /* 添加背景图片 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* 背景不重复 */
    background-attachment: fixed; /* 背景固定 */
}

/* 设置历史记录容器的样式 */
.history-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明背景 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards; /* 入场效果 */
}

/* 设置历史记录项的样式 */
.history-item {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.history-item:last-child {
    border-bottom: none;
}

/* 设置历史记录项标题的样式 */
.history-item h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #007BFF;
}

/* 设置历史记录项内容的样式 */
.history-item a {
    text-decoration: none;
    color: #555;
}

.history-item a:hover {
    text-decoration: underline;
}

/* 设置日期搜索框的样式 */
#search-date {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 设置版本搜索框的样式 */
#search-version {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 入场效果的关键帧动画 */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 为超链接添加鼠标悬停效果 */
.links:hover {
    color: blue;
    text-decoration: underline;
}

/* 为 .version 类添加样式 */
.version {
    font-weight: bold;
    font-size: 16px; /* 比 h3 小 */
}
